version: "3"

services:

  database:
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DATA: /var/lib/postgresql/data/pgdata
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    read_only: true
    volumes:
      - "database:/var/lib/postgresql/data"
    tmpfs:
      - "/tmp"
      - "/run"
    networks:
      - ai_dictator_network

  otree:
    # if using Docker Hub, leave "build: ./" commented out.
    # if you want to build an image locally, uncomment it.

    build: ./
    image: feele/ai_dictator:latest
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database/${POSTGRES_DATABASE}"
      OTREE_ADMIN_PASSWORD: ${OTREE_ADMIN_PASSWORD}
      OTREE_PRODUCTION: ${OTREE_PRODUCTION}
      OTREE_AUTH_LEVEL: ${OTREE_AUTH_LEVEL}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    ports:
      - ${OTREE_PORT}:80
    volumes:
      - "otree-resetdb:/opt/init"
    # Uncomment for live editing
    #  - ./:/opt/otree
    command: "otree runprodserver 0.0.0.0:80"
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    cpus: 2.0
    networks:
      - ai_dictator_network

volumes:
  database:
  otree-resetdb:

networks:
  ai_dictator_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.80.2.48/28
          gateway: 172.80.2.49
